<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FacturaConexion"
			 connectionString ="Database=Factura;Server=192.168.1.240; User=sa; Pwd=BaseDatos1; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>